// colors
$background-color-base: white;
$background: #e5e5e5;
$day-break-blue: #1890ff;
// $error-color: #f5222d;
// $grey-1: white;
// $grey-5: #d9d9d9;
// $grey-6: #bfbfbf;
// $grey-7: #8c8c8c;
// $grey-8: #595959;
// $grey-9: #262626;
$heading-color: rgba(0, 0, 0, 0.85);
$alarm-color: #ff0707;
$highlight-color: #f5222d;
$hover-color: #f1fcff;
// $info-color: rgba(24, 144, 255, 1);
$shadow-color: rgba(0, 0, 0, 0.15);
$success-color: #52c41a;
$text-color-secondary: rgba(0, 0, 0, 0.5);
$text-color: rgba(0, 0, 0, 0.75);
$date-color: grey;

// font
$font-size-heading: 18px;
$font-size-normal: 14px;
$font-size-sm: 12px;

// width
$news-item-width: 80%;
